@using Microsoft.AspNetCore.Http.Features

@{
    var enabled = await _settings.GetOrDefault(MemtlyConfiguration.Policies.Enabled, true);
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var consentGranted = consentFeature?.CanTrack ?? false;

    <div class="cookie-consent" data-cookie-string="@(consentFeature?.CreateConsentCookie())">
        @if (enabled && !consentGranted)
        {
            <div class="cookie-consent-wrapper"></div>
            <div class="cookie-consent-alert alert alert-info alert-dismissible fade show" role="alert">
                <span class="mx-2">@_localizer["CookiePolicy_Message_Short"].Value <a href="/CookiePolicy" target="_blank">@_localizer["CookiePolicy_Button_Text"].Value</a>.</span>
                <button type="button" class="btn btn-primary-2 accept-policy close mt-3 mt-md-0" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">@_localizer["Accept"].Value</span>
                </button>
            </div>
        }
    </div>
}