################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
*.user
**/bin
**/obj
**/appsettings.Development.json
**/config/*.db
**/config/*.db.bak
**/config/*.db-shm
**/config/*.db-wal
**/config/key-*.xml
