################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
*.user
**/bin
**/obj
/appsettings.Development.json
/appsettings.Production.json
/ffmpeg
/config/*.db
/config/*.db.bak
/config/*.db-shm
/config/*.db-wal
/config/key-*.xml
/node_modules
/wwwroot/gallery/**/*
/wwwroot/uploads
/wwwroot/custom_resources
/wwwroot/thumbnails
/wwwroot/temp
/wwwroot/logos
/wwwroot/banners
/wwwroot/dist