:root {
    /* Generic */
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --text-contrast: 255, 255, 255;
    /* Navbar */
    --navbar-bg: 31, 41, 55;
    --navbar-border: 5, 150, 105;
    --navbar-title-text: 250, 250, 250;
    --navbar-options-text: 52, 211, 153;
    --navbar-options-text-hover: 16, 185, 129;
    /* Navigation */
    --nav-text: 52, 211, 153;
    --nav-bg: 31, 41, 55;
    --nav-border: 16, 185, 129;
    --nav-hover-text: 255, 255, 255;
    --nav-hover-bg: 16, 185, 129;
    --nav-hover-border: 16, 185, 129;
    /* Tables */
    --table-border: 5, 150, 105;
    --table-header-text: 5, 150, 105;
    --table-header-bg: 5, 150, 105;
    --table-data-text: 229, 231, 235;
    --table-data-bg: 31, 41, 55;
    /* Forms */
    --form-text: 255, 255, 255;
    /* Footer */
    --footer-text: 229, 231, 235;
    --footer-bg: 17, 24, 39;
    /* Colour Scheme (Primary 1) */
    --primary-text-1: 255, 255, 255;
    --primary-bg-1: 5, 150, 105;
    --primary-border-1: 5, 150, 105;
    --primary-hover-text-1: 255, 255, 255;
    --primary-hover-bg-1: 4, 120, 87;
    --primary-hover-border-1: 4, 120, 87;
    /* Colour Scheme (Primary 2) */
    --primary-text-2: 255, 255, 255;
    --primary-bg-2: 16, 185, 129;
    --primary-border-2: 16, 185, 129;
    --primary-hover-text-2: 255, 255, 255;
    --primary-hover-bg-2: 5, 150, 105;
    --primary-hover-border-2: 5, 150, 105;
    /* Colour Scheme (Primary 3) */
    --primary-text-3: 255, 255, 255;
    --primary-bg-3: 52, 211, 153;
    --primary-border-3: 52, 211, 153;
    --primary-hover-text-3: 255, 255, 255;
    --primary-hover-bg-3: 16, 185, 129;
    --primary-hover-border-3: 16, 185, 129;
    /* Colour Scheme (Secondary 1) */
    --secondary-text-1: 255, 255, 255;
    --secondary-bg-1: 59, 130, 246;
    --secondary-border-1: 59, 130, 246;
    --secondary-hover-text-1: 255, 255, 255;
    --secondary-hover-bg-1: 37, 99, 235;
    --secondary-hover-border-1: 37, 99, 235;
    /* Colour Scheme (Secondary 2) */
    --secondary-text-2: 255, 255, 255;
    --secondary-bg-2: 96, 165, 250;
    --secondary-border-2: 96, 165, 250;
    --secondary-hover-text-2: 255, 255, 255;
    --secondary-hover-bg-2: 59, 130, 246;
    --secondary-hover-border-2: 59, 130, 246;
    /* Colour Scheme (Danger) */
    --danger-text: 255, 255, 255;
    --danger-bg: 248, 113, 113;
    --danger-border: 248, 113, 113;
    --danger-hover-text: 255, 255, 255;
    --danger-hover-bg: 239, 68, 68;
    --danger-hover-border: 239, 68, 68;
    /* Colour Scheme (Disabled) */
    --disabled-text: 156, 163, 175;
    --disabled-bg: 55, 65, 81;
    --disabled-border: 55, 65, 81;
    --disabled-hover-text: 156, 163, 175;
    --disabled-hover-bg: 75, 85, 99;
    --disabled-hover-border: 75, 85, 99;
}

/* Wrapper */

body {
    background: rgba(var(--navbar-bg), 0.9) !important;
}

.card {
    color: rgba(var(--white), 1.0) !important;
    background: rgba(var(--navbar-bg), 0.5) !important;
}

.modal .modal-content {
    background: rgba(var(--navbar-bg), 1.0) !important;
}

    .modal .modal-content .modal-header {
        border-bottom-color: rgba(var(--primary-bg-1), 1.0) !important;
    }

.accordion .accordion-item {
    background: rgba(var(--navbar-bg), 1.0) !important;
}

/* Navbar */
.navbar {
    --bs-navbar-border-color: rgba(var(--navbar-bg), 1.0) !important;
    color: rgba(var(--navbar-title-text), 1.0) !important;
    background-color: rgba(var(--navbar-bg), 1.0) !important;
    box-shadow: 0 1px 3px 0 rgba(var(--navbar-border), 0.1) !important;
}

    .navbar .navbar-title {
        color: rgba(var(--navbar-title-text), 1.0) !important;
    }

    .navbar .navbar-options i, .navbar .navbar-options svg {
        color: rgba(var(--navbar-options-text), 0.8) !important;
    }

        .navbar .navbar-options i:hover, .navbar .navbar-options svg:hover {
            color: rgba(var(--navbar-options-text-hover), 0.6) !important;
        }

/* Navigation */

.nav-tabs, .nav-border-bottom {
    --bs-nav-tabs-border-color: rgba(var(--nav-hover-border), 1.0) !important;
    border-color: rgba(var(--nav-hover-border), 1.0) !important;
}

    .nav-tabs .nav-item .nav-link {
        color: rgba(var(--nav-text), 1.0) !important;
        background-color: rgba(var(--nav-bg), 1.0) !important;
        border-color: none !important;
    }

        .nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link.active:hover {
            color: rgba(var(--nav-hover-text), 1.0) !important;
            background-color: rgba(var(--nav-hover-bg), 0.8) !important;
            border-color: rgba(var(--nav-hover-border), 1.0) !important;
        }

        .nav-tabs .nav-item .nav-link:hover {
            color: rgba(var(--nav-text), 1.0) !important;
            background-color: rgba(var(--nav-hover-bg), 0.1) !important;
            border-color: rgba(var(--nav-hover-border), 1.0) !important;
        }

/* Footer */

footer {
    color: rgba(var(--footer-text), 1.0) !important;
    background-color: rgba(var(--footer-bg), 0.9) !important;
}

    footer a, footer a:active, footer a:visited, footer a:hover {
        color: rgba(var(--footer-text), 1.0) !important;
    }

/* Headers */

.card .card-header {
    background-color: rgba(var(--primary-bg-1), 0.01) !important;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7 {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

.modal .modal-header {
    background-color: rgba(var(--primary-bg-1), 0.01) !important;
}

    .modal .modal-header .modal-title {
        color: rgba(var(--primary-bg-1), 1.0) !important;
    }

.modal .modal-body h5 {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

.modal .modal-body p {
    color: rgba(var(--white), 1.0);
}

/* Text */

.text-primary-1 {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

.text-primary-2 {
    color: rgba(var(--primary-bg-2), 1.0) !important;
}

.text-primary-3 {
    color: rgba(var(--primary-bg-3), 1.0) !important;
}

.text-secondary-1 {
    color: rgba(var(--secondary-bg-1), 1.0) !important;
}

.text-secondary-2 {
    color: rgba(var(--secondary-bg-2), 1.0) !important;
}

.text-danger {
    color: rgba(var(--danger-bg), 1.0) !important;
}

.text-disabled {
    color: rgba(var(--disabled-bg), 1.0) !important;
}

.text-contrast {
    color: rgba(var(--text-contrast), 1.0) !important;
}

/* Borders */

.border-primary-1 {
    border-color: rgba(var(--primary-bg-1), 1.0) !important;
}

.border-primary-2 {
    border-color: rgba(var(--primary-bg-2), 1.0) !important;
}

.border-primary-3 {
    border-color: rgba(var(--primary-bg-3), 1.0) !important;
}

.border-secondary-1 {
    border-color: rgba(var(--secondary-bg-1), 1.0) !important;
}

.border-secondary-2 {
    border-color: rgba(var(--secondary-bg-2), 1.0) !important;
}

.border-danger {
    border-color: rgba(var(--danger-bg), 1.0) !important;
}

.border-disabled {
    border-color: rgba(var(--disabled-bg), 1.0) !important;
}

/* Links */

a, a:active, a:visited {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

    a:hover {
        color: rgba(var(--primary-hover-bg-1), 1.0) !important;
    }

.link-primary-1 {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

    .link-primary-1:hover, .link-primary-1:active {
        color: rgba(var(--primary-hover-bg-1), 1.0) !important;
    }

.link-primary-2 {
    color: rgba(var(--primary-bg-2), 1.0) !important;
}

    .link-primary-2:hover, .link-primary-2:active {
        color: rgba(var(--primary-hover-bg-2), 1.0) !important;
    }

.link-primary-3 {
    color: rgba(var(--primary-bg-3), 1.0) !important;
}

    .link-primary-3:hover, .link-primary-3:active {
        color: rgba(var(--primary-hover-bg-3), 1.0) !important;
    }

.link-secondary-1 {
    color: rgba(var(--secondary-bg-1), 1.0) !important;
}

    .link-secondary-1:hover, .link-secondary-1:active {
        color: rgba(var(--secondary-hover-bg-1), 1.0) !important;
    }

.link-secondary-2 {
    color: rgba(var(--secondary-bg-2), 1.0) !important;
}

    .link-secondary-2:hover, .link-secondary-2:active {
        color: rgba(var(--secondary-hover-bg-2), 1.0) !important;
    }

.link-danger {
    color: rgba(var(--danger-bg), 1.0) !important;
}

    .link-danger:hover, .link-danger:active {
        color: rgba(var(--danger-hover-bg), 1.0) !important;
    }

.link-disabled {
    color: rgba(var(--disabled-bg), 1.0) !important;
}

    .link-disabled:hover, .link-disabled:active {
        color: rgba(var(--disabled-hover-bg), 1.0) !important;
    }

/* Buttons */

.btn-primary-1 {
    --bs-btn-color: rgba(var(--primary-text-1), 1.0) !important;
    --bs-btn-bg: rgba(var(--primary-bg-1), 1.0) !important;
    --bs-btn-border-color: rgba(var(--primary-border-1), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--primary-hover-text-1), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--primary-hover-bg-1), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--primary-hover-border-1), 1.0) !important;
    --bs-btn-active-color: rgba(var(--primary-hover-text-1), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--primary-hover-bg-1), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--primary-hover-border-1), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--primary-bg-1), 1.0) !important;
}

.btn-primary-2 {
    --bs-btn-color: rgba(var(--primary-text-2), 1.0) !important;
    --bs-btn-bg: rgba(var(--primary-bg-2), 1.0) !important;
    --bs-btn-border-color: rgba(var(--primary-border-2), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--primary-hover-text-2), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--primary-hover-bg-2), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--primary-hover-border-2), 1.0) !important;
    --bs-btn-active-color: rgba(var(--primary-hover-text-2), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--primary-hover-bg-2), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--primary-hover-border-2), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--primary-bg-2), 1.0) !important;
}

.btn-primary-3 {
    --bs-btn-color: rgba(var(--primary-text-3), 1.0) !important;
    --bs-btn-bg: rgba(var(--primary-bg-3), 1.0) !important;
    --bs-btn-border-color: rgba(var(--primary-border-3), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--primary-hover-text-3), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--primary-hover-bg-3), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--primary-hover-border-3), 1.0) !important;
    --bs-btn-active-color: rgba(var(--primary-hover-text-3), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--primary-hover-bg-3), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--primary-hover-border-3), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--primary-bg-3), 1.0) !important;
}

.btn-secondary-1 {
    --bs-btn-color: rgba(var(--secondary-text-1), 1.0) !important;
    --bs-btn-bg: rgba(var(--secondary-bg-1), 1.0) !important;
    --bs-btn-border-color: rgba(var(--secondary-border-1), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--secondary-hover-text-1), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--secondary-hover-bg-1), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--secondary-hover-border-1), 1.0) !important;
    --bs-btn-active-color: rgba(var(--secondary-hover-text-1), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--secondary-hover-bg-1), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--secondary-hover-border-1), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--secondary-bg-1), 1.0) !important;
}

.btn-danger {
    --bs-btn-color: rgba(var(--danger-text), 1.0) !important;
    --bs-btn-bg: rgba(var(--danger-bg), 1.0) !important;
    --bs-btn-border-color: rgba(var(--danger-border), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--danger-hover-text), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--danger-hover-bg), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--danger-hover-border), 1.0) !important;
    --bs-btn-active-color: rgba(var(--danger-hover-text), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--danger-hover-bg), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--danger-hover-border), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--danger-bg), 1.0) !important;
}

.btn-cancel {
    --bs-btn-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--disabled-hover-text), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--disabled-hover-bg), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--disabled-hover-border), 1.0) !important;
    --bs-btn-active-color: rgba(var(--disabled-hover-text), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--disabled-hover-bg), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--disabled-hover-border), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-hover-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-hover-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-hover-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--disabled-hover-bg), 1.0) !important;
}

.btn-disabled, .btn-disabled:active, .btn-disabled:hover {
    --bs-btn-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-hover-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-hover-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-hover-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-active-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-active-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-disabled-color: rgba(var(--disabled-text), 1.0) !important;
    --bs-btn-disabled-bg: rgba(var(--disabled-bg), 1.0) !important;
    --bs-btn-disabled-border-color: rgba(var(--disabled-border), 1.0) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-focus-shadow-rgb: rgba(var(--disabled-bg), 1.0) !important;
}

/* Tables */

table {
    --bs-table-border-color: rgba(var(--table-border), 1.0) !important;
    outline-color: rgba(var(--table-border), 1.0) !important;
}

    table th {
        color: rgba(var(--table-header-text), 1.0) !important;
        background-color: rgba(var(--table-header-bg), 0.1) !important;
    }

    table td {
        color: rgba(var(--table-data-text), 1.0) !important;
        background-color: rgba(var(--table-data-bg), 0.1) !important;
    }

/* Accordions */

.accordion {
    --bs-accordion-color: rgba(var(--table-header-text), 1.0) !important;
    --bs-accordion-border-color: rgba(var(--table-border), 1.0) !important
}

    .accordion .accordion-item .accordion-button {
        color: rgba(var(--table-header-text), 1.0) !important;
        background-color: rgba(var(--table-header-bg), 0.1) !important;
    }

    .accordion .accordion-item:hover .accordion-button {
        color: rgba(var(--table-header-text), 1.0) !important;
        background-color: rgba(var(--table-header-bg), 0.3) !important;
    }

    .accordion .accordion-item .accordion-button:not(.collapsed) {
        color: rgba(var(--table-header-text), 1.0) !important;
        background-color: rgba(var(--table-header-bg), 0.4) !important;
    }

/* Forms */

.form-text {
    color: rgba(var(--form-text)) !important;
}

/* Inputs */
select option {
    color: rgba(var(--black), 1.0) !important;
    background-color: rgba(var(--white), 1.0) !important;
}

    select option:hover, select option:checked, select option:focus, select option:active {
        color: rgba(var(--primary-text-3), 1.0) !important;
        background-color: rgba(var(--primary-bg-3), 0.8) !important;
    }

input, select {
    color: rgba(var(--primary-text-1), 1.0) !important;
    background-color: rgba(var(--primary-bg-1), 0.1) !important;
    border-color: rgba(var(--primary-border-1), 0.1) !important;
}

    input::placeholder {
        color: rgba(var(--primary-text-1), 0.5) !important;
    }

input:focus, select:focus {
    outline: 3px solid rgba(var(--primary-bg-1), 0.5) !important;
}

input[type="file"]::file-selector-button {
    color: rgba(var(--primary-text-2), 1.0);
    background-color: rgba(var(--primary-bg-2), 1.0);
    border: none;
    cursor: pointer;
}

    input[type="file"]::file-selector-button:hover, input[type="file"]::-webkit-file-upload-button:hover, input[type="file"]::-ms-browse:hover {
        color: rgba(var(--primary-hover-text-2), 1.0);
        background-color: rgba(var(--primary-hover-bg-2), 1.0);
    }

label {
    color: rgba(var(--primary-bg-1), 1.0) !important;
}

/* Misc */

.modal-body {
    color: rgba(var(--white), 1.0) !important;
}

.media-viewer-options .media-viewer-download {
    color: rgba(var(--disabled-text), 1.0) !important;
    background-color: rgba(var(--disabled-bg), 0.8) !important;
}

    .media-viewer-options .media-viewer-download:hover {
        color: rgba(var(--secondary-text-1), 1.0) !important;
        background-color: rgba(var(--secondary-bg-1), 0.8) !important;
    }

.media-viewer-options .media-viewer-close {
    color: rgba(var(--disabled-text), 1.0) !important;
    background-color: rgba(var(--disabled-bg), 0.8) !important;
}

    .media-viewer-options .media-viewer-close:hover {
        color: rgba(var(--danger-text), 1.0) !important;
        background-color: rgba(var(--danger-bg), 0.8) !important;
    }

.file-uploader-form, .upload_drop {
    outline-color: rgba(var(--primary-bg-2), 1.0) !important;
    fill: rgba(var(--primary-hover-bg-2), 1.0) !important;
}

.upload_drop .upload_svg {
    outline-color: rgba(var(--primary-bg-2), 1.0) !important;
    fill: rgba(var(--primary-hover-bg-2), 1.0) !important;
}

    .file-uploader-form fieldset {
        color: rgba(var(--primary-bg-2), 1.0) !important;
    }

    .upload_drop.highlight {
        color: rgba(var(--primary-hover-bg-1), 1.0) !important;
        outline: 2px dashed rgba(var(--primary-hover-bg-1), 1.0) !important;
    }

    .upload_drop.highlight .upload_svg {
        fill: rgba(var(--primary-hover-bg-1), 1.0) !important;
    }

.border-top {
    --bs-border-color: rgba(var(--primary-bg-1), 1.0) !important;
}

.quote {
    color: rgba(var(--primary-bg-1), 1.0) !important;
    background-color: rgba(var(--primary-bg-1), 0.05) !important;
}

.pagination .page-item .page-link {
    background-color: rgba(var(--primary-bg-1), 0.05) !important;
    border-color: rgba(var(--primary-bg-1), 0.75) !important;
}

.pagination .page-item.active .page-link {
    color: rgba(var(--white), 0.75) !important;
    background-color: rgba(var(--primary-bg-1), 0.5) !important;
    border-color: rgba(var(--primary-bg-1), 0.75) !important;
}

.pagination .page-item:hover .page-link {
    color: rgba(var(--white), 0.6) !important;
    background-color: rgba(var(--primary-bg-1), 0.2) !important;
    border-color: rgba(var(--primary-bg-1), 0.75) !important;
}