@model ReviewsModel
@using Memtly.Core.Views.Account.Tabs
@using Memtly.Core.Views.Shared

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();

    var currentPage = 1;
    try
    {
        currentPage = int.Parse((Context.Request.Query.ContainsKey("page") && !string.IsNullOrWhiteSpace(Context.Request.Query["page"])) ? Context.Request.Query["page"].ToString().ToLower() : "1");
    }
    catch { }

    var searchTerm = string.Empty;
    try
    {
        searchTerm = (Context.Request.Query.ContainsKey("term") ? Context.Request.Query["term"].ToString() : string.Empty);
    }
    catch { }
}

<section class="pnl-account pnl-account-reviews pb-0 pb-lg-4">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Pending_Uploads"].Value
                    @if (Model?.PendingRequests != null && Model.PendingRequests.Any() && userPermissions.Review.HasFlag(ReviewPermissions.Approve) && userPermissions.Review.HasFlag(ReviewPermissions.Reject))
                    {
                        <span class="header-actions">
                            <span class="action link-primary-2 pointer">
                                <i class="btnBulkReview fas fa-thumbs-up" alt="@_localizer["Review"].Value"></i>
                                <span>@_localizer["Review"].Value</span>
                            </span>
                        </span>
                    }
                </h1>
            </div>
        </div>
        <div class="row px-3 pb-3">
            <div id="pending-reviews" class="col-12 text-contrast rounded text-center">
                <partial name="~/Views/Account/Partials/PendingReviews.cshtml" model="Model" />
            </div>
        </div>
    </div>
</section>