@model IndexModel
@using WeddingShare.Helpers
@using WeddingShare.Views.Error

@{
    var reasonCode = 400;
    try
    {
        reasonCode = Context.Request.Query.ContainsKey("Reason") ? Convert.ToInt32(Context.Request.Query["Reason"]) : 400;
    }
    catch { }
    
    var title = _localizer[$"{reasonCode}_Error_Title"].Value;
    var message = _localizer[$"{reasonCode}_Error_Message"].Value;
}

<!--( Error Message )-->
<div class="content border border-primary-1 rounded m-3 m-lg-5 px-1 py-5">
    <p class="text-primary-1 text-center mb-2" style="font-size: 30px;">@title</p>
    <p class="text-primary-1 text-center" style="font-size: 15px;">@message</p>
</div>